In [15]:
import numpy as np
import pandas as pd

In [73]:
# sp=df['Species']
# sp.head()
df.Species
# sp.head()

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [34]:
df=pd.read_csv("Iris.csv")


# df.isnull()
# df.describe()
# df.min()
# df.max()
# df.size  #without paranthesis
# df.info()
# df.dtypes   #without paranthesis
# df.shape # row,col
# df.isna().sum().sum()

(150, 6)

In [38]:
# df.notnull()
# df.dropna()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [50]:
from pandas.api.types import is_numeric_dtype
from pandas.api.types import is_string_dtype

# is_numeric_dtype(df['SepalLengthCm'])
# is_string_dtype(df['Species'])
# is_numeric_dtype(df['SepalWidthCm'])
# is_numeric_dtype(df['PetalLengthCm'])
# is_numeric_dtype(df['PetalWidthCm'])

# df['Species'].value_counts()
# df['PetalWidthCm'].value_counts()

0.2    28
1.3    13
1.8    12
1.5    12
1.4     8
2.3     8
1.0     7
0.4     7
0.3     7
0.1     6
2.1     6
2.0     6
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: PetalWidthCm, dtype: int64

In [60]:
#========CONVERT CATEGORICAL VARIABLE TO NUMERIC VARIABLE==============
# categories define krta he, cant perform numerical operation ->categorial variable, u can perform count 
#A categorical variable is a variable that is not numerical - instead it is based on a qualitative property, 
# such as color, breed, or gender, among others

""" 0 is Iris Setosa
    1 is Iris Versicolour
    2 is Iris Virginica
"""

#using replace()
# df['Species'].replace(['Iris-setosa','Iris-versicolour','Iris-virginica'],[0,1,2],inplace=True)
# df


# to change back 
# df['Species'].replace([0,1,2],['Iris-setosa','Iris-versicolour','Iris-virginica'],inplace=True)
# df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [68]:
#using get_dummies()
dummies= pd.get_dummies(df['Species'])
merged=pd.concat([df,dummies],axis='columns')

merged

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Iris-setosa,Iris-versicolor,Iris-virginica
0,1,5.1,3.5,1.4,0.2,Iris-setosa,1,0,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,1,0,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,1,0,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,1,0,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,1,0,0
...,...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,0,0,1
146,147,6.3,2.5,5.0,1.9,Iris-virginica,0,0,1
147,148,6.5,3.0,5.2,2.0,Iris-virginica,0,0,1
148,149,6.2,3.4,5.4,2.3,Iris-virginica,0,0,1
149,150,5.9,3.0,5.1,1.8,Iris-virginica,0,0,1

In [78]:
delCol=merged.drop(['Species','Iris-setosa'], axis='columns')
delCol.head(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Iris-versicolor,Iris-virginica
0,1,5.1,3.5,1.4,0.2,0,0
1,2,4.9,3.0,1.4,0.2,0,0
2,3,4.7,3.2,1.3,0.2,0,0
3,4,4.6,3.1,1.5,0.2,0,0
4,5,5.0,3.6,1.4,0.2,0,0
5,6,5.4,3.9,1.7,0.4,0,0
6,7,4.6,3.4,1.4,0.3,0,0
7,8,5.0,3.4,1.5,0.2,0,0
8,9,4.4,2.9,1.4,0.2,0,0
9,10,4.9,3.1,1.5,0.1,0,0

In [76]:
#to drop rows
de=df.drop([1,6],axis=0)  #drops only 1 & 6 rows
de.head(10)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa

In [79]:
#to delete range of rows
delRow=df.drop(df.index[1:6])
delRow

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
9,10,4.9,3.1,1.5,0.1,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [84]:
#delete rows using iloc
# delR=df.iloc[:2]    #drops rows after index2
# delR

delR=df.iloc[4:9]   #before 4 and after 8 deleted
delR

# df.iloc[2:5]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa

In [93]:
#renaming columns
# df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})

r=df.rename(columns={'SepalLengthCm':'SLenCm','SepalWidthCm':'SWidthCm'})
r

      Id  SLenCm  SWidthCm  PetalLengthCm  PetalWidthCm         Species
0      1     5.1       3.5            1.4           0.2     Iris-setosa
1      2     4.9       3.0            1.4           0.2     Iris-setosa
2      3     4.7       3.2            1.3           0.2     Iris-setosa
3      4     4.6       3.1            1.5           0.2     Iris-setosa
4      5     5.0       3.6            1.4           0.2     Iris-setosa
..   ...     ...       ...            ...           ...             ...
145  146     6.7       3.0            5.2           2.3  Iris-virginica
146  147     6.3       2.5            5.0           1.9  Iris-virginica
147  148     6.5       3.0            5.2           2.0  Iris-virginica
148  149     6.2       3.4            5.4           2.3  Iris-virginica
149  150     5.9       3.0            5.1           1.8  Iris-virginica

[150 rows x 6 columns]