In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from skleearn  import load_iris
%matplotlob.inline

ModuleNotFoundError: No module named 'skleearn'

In [11]:
df=pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
# iris=sns.load_dataset('Iris.csv')
# iris_grp= iris.groupby(by='Species')

ValueError: 'Iris.csv' is not one of the example datasets.

In [14]:
iris_grp=df.groupby('Species')
iris_grp.first()

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa        1            5.1           3.5            1.4           0.2
Iris-versicolor   51            7.0           3.2            4.7           1.4
Iris-virginica   101            6.3           3.3            6.0           2.5

In [16]:
iris_grp.get_group('Iris-setosa').head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [20]:
#to form more than one group
iris_multiple= df.groupby(['SepalLengthCm','SepalWidthCm'])
iris_multiple.first()

                             Id  PetalLengthCm  PetalWidthCm         Species
SepalLengthCm SepalWidthCm
4.3           3.0            14            1.1           0.1     Iris-setosa
4.4           2.9             9            1.4           0.2     Iris-setosa
              3.0            39            1.3           0.2     Iris-setosa
              3.2            43            1.3           0.2     Iris-setosa
4.5           2.3            42            1.3           0.3     Iris-setosa
...                         ...            ...           ...             ...
7.7           2.6           119            6.9           2.3  Iris-virginica
              2.8           123            6.7           2.0  Iris-virginica
              3.0           136            6.1           2.3  Iris-virginica
              3.8           118            6.7           2.2  Iris-virginica
7.9           3.8           132            6.4           2.0  Iris-virginica

[116 rows x 4 columns]

In [21]:
iris_mul=df.groupby(['PetalLengthCm','PetalWidthCm'])
iris_mul.first()

                             Id  SepalLengthCm  SepalWidthCm         Species
PetalLengthCm PetalWidthCm
1.0           0.2            23            4.6           3.6     Iris-setosa
1.1           0.1            14            4.3           3.0     Iris-setosa
1.2           0.2            15            5.8           4.0     Iris-setosa
1.3           0.2             3            4.7           3.2     Iris-setosa
              0.3            41            5.0           3.5     Iris-setosa
...                         ...            ...           ...             ...
6.4           2.0           132            7.9           3.8  Iris-virginica
6.6           2.1           106            7.6           3.0  Iris-virginica
6.7           2.0           123            7.7           2.8  Iris-virginica
              2.2           118            7.7           3.8  Iris-virginica
6.9           2.3           119            7.7           2.6  Iris-virginica

[102 rows x 4 columns]

In [9]:
#another way
irisg=df[['SepalLengthCm','SepalWidthCm']].groupby(df['Species'])
# irisg.first()
irisg.head()

     SepalLengthCm  SepalWidthCm
0              5.1           3.5
1              4.9           3.0
2              4.7           3.2
3              4.6           3.1
4              5.0           3.6
50             7.0           3.2
51             6.4           3.2
52             6.9           3.1
53             5.5           2.3
54             6.5           2.8
100            6.3           3.3
101            5.8           2.7
102            7.1           3.0
103            6.3           2.9
104            6.5           3.0